body {
  padding: 0;
}

::before, ::after {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1400px) {
  .container {
    width: 1230px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.column-js, .column-jc, .ae-jb, .as-jc, .jb, .as-jb, .ac-jb, .ac-jc, .as, .ac, .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ae-jb, .jb, .as-jb, .ac-jb {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.column-js {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}

.column-jc, .as-jc, .ac-jc {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.ac-jb, .ac-jc, .ac {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.as-jc, .as-jb, .as {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.column-js, .column-jc {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ae-jb {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.shrink {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  src: url("/fonts/ProximaNova-Regular.ttf") format("truetype"), url("/fonts/ProximaNova-Regular.woff") format("woff"), url("/fonts/ProximaNova-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 300;
  src: url("/fonts/ProximaNova-Thin.ttf") format("truetype"), url("/fonts/ProximaNova-Thin.woff") format("woff"), url("/fonts/ProximaNova-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 600;
  src: url("/fonts/ProximaNova-SemiBold.ttf") format("truetype"), url("/fonts/ProximaNova-SemiBold.woff") format("woff"), url("/fonts/ProximaNova-SemiBold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  line-height: 1;
}

table {
  border-spacing: 0;
}

@-moz-document url-prefix() {
  body {
    letter-spacing: -0.09px;
  }
}
/* Slider */
/* Arrows */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Slider */
.slick-slider {
  overflow: hidden;
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-dots {
  position: absolute;
  margin: 0;
  list-style-type: none;
}
.slick-dots button {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slick-prev,
.slick-next {
  z-index: 3;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer;
  color: transparent;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  cursor: pointer;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.back-layer {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.back-layer.menu-open {
  pointer-events: all;
  z-index: 100;
  -webkit-animation: back-layer 0.5s forwards;
  animation: back-layer 0.5s forwards;
}
.back-layer.back-transition {
  opacity: 1;
  z-index: 100;
  -webkit-animation: hide 0.6s forwards;
  animation: hide 0.6s forwards;
}

@-webkit-keyframes back-layer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes back-layer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes hide {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
.close-popup {
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  transition: opacity 0.2s;
  cursor: pointer;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-popup.menu-open {
  pointer-events: all;
  z-index: 103;
  opacity: 1;
  transition-delay: 0.4s;
}

.popup-slider {
  pointer-events: none;
  z-index: 101;
  position: fixed;
}
.popup-slider.menu-open {
  pointer-events: all;
}
.popup-slider.menu-right {
  top: 0;
  right: 0;
  -moz-transform: translateX(120%);
  -o-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
  transition: transform 0.4s;
}
.popup-slider.menu-right.menu-open {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.popup-slider.menu-left {
  top: 0;
  left: 0;
  -moz-transform: translateX(-120%);
  -o-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
  transition: transform 0.4s;
}
.popup-slider.menu-left.menu-open {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.popup-slider.menu-top {
  top: 0;
  left: 0;
  -moz-transform: translateY(-120%);
  -o-transform: translateY(-120%);
  -ms-transform: translateY(-120%);
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  transition: transform 0.4s;
}
.popup-slider.menu-top.menu-open {
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.popup-slider.menu-fade {
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.4s;
}
.popup-slider.menu-fade.menu-open {
  opacity: 1;
}

body {
  width: 100vw;
  max-width: 100%;
}

.header {
  width: 100%;
}

.burger {
  position: relative;
  width: 35px;
  min-width: 35px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #01A229;
  z-index: 110;
}
.burger div,
.burger div:before,
.burger div:after {
  left: 7px;
  background: #01A229;
  position: absolute;
  height: 2px;
  width: 18px;
  transition: all 0.5s;
}
.burger div:first-child {
  top: 10px;
}
.burger div:nth-child(2) {
  top: 15px;
}
.burger div:nth-child(3) {
  top: 20px;
}

.burger.menu-open {
  border-color: #171717;
  background-color: #000000;
}
.burger.menu-open div,
.burger.menu-open div:before,
.burger.menu-open div:after {
  background-color: #767676;
}
.burger.menu-open div:first-child {
  top: 16px;
  transform: rotate(45deg);
  transition: top 0.15s, transform 0.15s 0.15s;
}
.burger.menu-open div:nth-child(2),
.burger.menu-open div:nth-child(3) {
  top: 16px;
  transform: rotate(-45deg);
  transition: top 0.15s, transform 0.15s 0.15s;
}

.calc-button {
  background: linear-gradient(180deg, #00AF2C 0%, #009C27 100%);
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 28px;
  display: inline-block;
}

.play-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #01A229;
  text-decoration: none;
  padding: 10px 30px 10px 70px;
  background: #000000;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  max-width: 250px;
  transition: all 0.2s;
}
.play-button:hover {
  background-color: #ffffff;
}
.play-button:after {
  content: "";
  position: absolute;
  left: 15px;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/svg/play.svg");
}

.play-circle {
  position: absolute;
  z-index: 20;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: url("../img/svg/play.svg");
}
.play-circle:after, .play-circle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #01AE2C;
  animation: pulse 1.5s linear infinite;
}
.play-circle:after {
  animation-delay: 0.9s;
}

@keyframes pulse {
  from {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}
.lang-switch {
  position: relative;
  width: 53px;
  height: 24px;
  margin-right: 35px;
  padding-bottom: 15px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .lang-switch {
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .lang-switch {
    margin-right: 15px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .lang-switch {
    margin-right: 15px;
  }
}
.lang-switch:hover:after {
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.lang-switch:hover .lang-item {
  opacity: 1;
  pointer-events: all;
}
.lang-switch:after {
  content: "";
  position: absolute;
  right: 6px;
  top: calc(50% - 3px);
  width: 12px;
  height: 6px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/svg/down-arrow.svg");
  transition: all 0.2s;
}
.lang-switch .lang-item {
  width: 24px;
  height: 24px;
  position: absolute;
  padding: 4px;
  background-color: #ffffff;
  left: 0;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.lang-switch .lang-item img {
  width: 100%;
}
.lang-switch .lang-item:nth-child(1) {
  top: calc(100% * 0);
}
.lang-switch .lang-item:nth-child(2) {
  top: calc(100% * 1);
}
.lang-switch .lang-item:nth-child(3) {
  top: calc(100% * 2);
}
.lang-switch .lang-item.active {
  top: 0;
  opacity: 1;
  pointer-events: all;
}

.object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
}
.object-fit.compat-object-fit > img {
  opacity: 0;
}
.object-fit > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
}

header {
  background-color: #ffffff;
  position: relative;
  z-index: 29;
}
header .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  position: relative;
  padding-left: 285px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  header .container {
    padding-left: 200px;
  }
}
@media (max-width: 1199px) {
  header .container {
    padding-left: 160px;
  }
}
@media (max-width: 1024px) {
  header .container {
    padding-left: 15px;
  }
}
@media (hover: none) and (pointer: coarse) {
  header .container {
    padding-left: 15px;
  }
}
header .logo-wrap {
  background: #FFFFFF;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
  padding: 18px 33px 6px 33px;
  position: absolute;
  left: 15px;
  top: 0;
}
header .logo-wrap img {
  max-width: 100%;
}
@media (max-width: 1024px) {
  header .logo-wrap img {
    max-height: 60px;
  }
}
@media (hover: none) and (pointer: coarse) {
  header .logo-wrap img {
    max-height: 60px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  header .logo-wrap {
    max-width: 185px;
  }
}
@media (max-width: 1199px) {
  header .logo-wrap {
    max-width: 150px;
  }
}
@media (max-width: 1024px) {
  header .logo-wrap {
    position: initial;
    left: initial;
    top: initial;
    padding: 10px 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  header .logo-wrap {
    position: initial;
    left: initial;
    top: initial;
    padding: 10px 0;
  }
}
header .logo-wrap:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 35px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
}
@media (max-width: 1024px) {
  header .logo-wrap:after {
    content: initial;
  }
}
@media (hover: none) and (pointer: coarse) {
  header .logo-wrap:after {
    content: initial;
  }
}
header .nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 30px 0;
}
header .nav li {
  line-height: 1;
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) {
  header .nav {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  header .nav {
    display: none;
  }
}
header .nav .item-level-0 {
  margin: 0 20px;
}
@media (max-width: 1199px) {
  header .nav .item-level-0 {
    margin: 0 15px;
  }
}
header .nav .link-level-0 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #171717;
  text-decoration: none;
  transition: all 0.2s;
}
@media (max-width: 1199px) {
  header .nav .link-level-0 {
    font-size: 14px;
  }
}
header .header-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
header .phone {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #171717;
  margin-right: 30px;
}
header .phone.mob {
  display: none;
  color: #ffffff;
}
@media (max-width: 1199px) {
  header .phone {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  header .phone {
    display: none;
  }
  header .phone.mob {
    display: inline-block;
    margin-right: 0;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.header-menu {
  display: none;
  background-color: #171717;
  padding-top: 140px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
@media (max-width: 767px) {
  .header-menu {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.header-menu .container {
  padding-left: 15px;
  -webkit-align-items: initial;
  -moz-align-items: initial;
  -ms-align-items: initial;
  align-items: initial;
}
@media (max-width: 767px) {
  .header-menu .container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header-menu.popup-slider {
  display: block;
}
.header-menu .nav {
  padding: 0;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .header-menu .nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-menu .nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
.header-menu .nav.small .item-level-0 {
  margin-bottom: 0;
}
.header-menu .nav.small .link-level-0 {
  font-size: 16px;
  line-height: 40px;
}
@media (max-width: 1024px) {
  .header-menu .nav.small .link-level-0 {
    font-size: 14px;
    line-height: initial;
    margin-bottom: 10px;
    display: inline-block;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-menu .nav.small .link-level-0 {
    font-size: 14px;
    line-height: initial;
    margin-bottom: 10px;
    display: inline-block;
  }
}
.header-menu .nav .item-level-0 {
  margin: 0;
  margin-bottom: 25px;
}
.header-menu .nav .link-level-0 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  transition: all 0.2s;
}
@media (max-width: 1024px) {
  .header-menu .nav .link-level-0 {
    font-size: 20px;
    line-height: initial;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-menu .nav .link-level-0 {
    font-size: 20px;
    line-height: initial;
  }
}
.header-menu .nav .link-level-0:hover {
  color: #01A229;
}
.header-menu .left {
  width: 50%;
  padding-right: 15px;
  border-right: 2px solid #000000;
}
@media (max-width: 767px) {
  .header-menu .left {
    padding-right: 0;
    border-right: none;
    width: 100%;
  }
}
.header-menu .right {
  width: 50%;
  padding-left: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 1024px) {
  .header-menu .right {
    padding-left: 25px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-menu .right {
    padding-left: 25px;
  }
}
@media (max-width: 767px) {
  .header-menu .right {
    padding-left: 0;
    width: 100%;
  }
}
.header-menu .right .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 500px) {
  .header-menu .right .row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header-menu .right .title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #767676;
  margin-bottom: 30px;
}
.header-menu .right-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-menu .right-menu li {
  line-height: 1;
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) {
  .header-menu .right-menu {
    margin-bottom: 25px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-menu .right-menu {
    margin-bottom: 25px;
  }
}
.header-menu .right-menu-link {
  font-size: 15px;
  line-height: 32px;
  color: #FFFFFF;
  transition: all 0.2s;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .header-menu .right-menu-link {
    font-size: 13px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-menu .right-menu-link {
    font-size: 13px;
  }
}
.header-menu .right-menu-link:hover {
  color: #01A229;
}
.header-menu .column-left, .header-menu .column-right {
  width: 50%;
}
@media (max-width: 500px) {
  .header-menu .column-left, .header-menu .column-right {
    width: 100%;
  }
}

.main-slider-wrap {
  position: relative;
  background: #F1F3F4;
}
.main-slider-wrap .play-circle {
  bottom: -40px;
  right: calc(50% - 600px);
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-slider-wrap .play-circle {
    right: calc(50% - 555px);
  }
}
@media (max-width: 1199px) {
  .main-slider-wrap .play-circle {
    right: calc(50% - 50px);
  }
}
@media (max-width: 1024px) {
  .main-slider-wrap .play-circle {
    width: 50px;
    height: 50px;
    bottom: -25px;
    right: calc(50% - 25px);
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-slider-wrap .play-circle {
    width: 50px;
    height: 50px;
    bottom: -25px;
    right: calc(50% - 25px);
  }
}
.main-slider-wrap .left-image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;
  padding-left: calc(50% - 600px);
  width: 40%;
  background-color: #ffffff;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-slider-wrap .left-image {
    padding-left: calc(50% - 555px);
  }
}
@media (max-width: 1199px) {
  .main-slider-wrap .left-image {
    display: none;
  }
}

.main-slider .slide {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 1199px) {
  .main-slider .slide {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.main-slider .slide .left {
  width: 40%;
  padding-top: 150px;
  padding-left: calc(50% - 600px);
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-slider .slide .left {
    padding-left: calc(50% - 555px);
  }
}
@media (max-width: 1199px) {
  .main-slider .slide .left {
    width: 970px;
    padding: 50px 15px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .main-slider .slide .left {
    width: 750px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-slider .slide .left {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .main-slider .slide .left {
    width: 100%;
  }
}
.main-slider .slide .left .text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #171717;
  margin-bottom: 15px;
}
.main-slider .slide .right {
  width: 60%;
  position: relative;
  height: 795px;
}
@media (max-width: 1199px) {
  .main-slider .slide .right {
    width: 100%;
    height: 600px;
  }
}
@media (max-width: 1024px) {
  .main-slider .slide .right {
    height: 400px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-slider .slide .right {
    height: 400px;
  }
}
.main-slider .slide .right .slide-img {
  width: 100%;
}
.main-slider h1 {
  text-align: left;
}
@media (max-width: 1024px) {
  .main-slider h1 {
    text-align: center;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-slider h1 {
    text-align: center;
  }
}
.main-slider .slick-arrow {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  z-index: 25;
}
@media (max-width: 1199px) {
  .main-slider .slick-arrow {
    width: 45px;
    height: 45px;
    background-size: 20px;
  }
}
.main-slider .slick-arrow.slick-next {
  bottom: 0;
  left: 40%;
  background-color: #171717;
  border-radius: 0px 3px 0px 0px;
  background-image: url("../img/svg/slick-arrow-next.svg");
}
@media (max-width: 1199px) {
  .main-slider .slick-arrow.slick-next {
    left: initial;
    right: 10px;
    bottom: 30%;
    background-color: #4F4F4F;
  }
}
@media (max-width: 1024px) {
  .main-slider .slick-arrow.slick-next {
    bottom: 25%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-slider .slick-arrow.slick-next {
    bottom: 25%;
  }
}
.main-slider .slick-arrow.slick-prev {
  bottom: 0;
  left: calc(40% - 60px);
  background-color: #4F4F4F;
  border-radius: 3px 0px 0px 3px;
  background-image: url("../img/svg/slick-arrow-prev.svg");
}
@media (max-width: 1199px) {
  .main-slider .slick-arrow.slick-prev {
    left: 10px;
    bottom: 30%;
  }
}
@media (max-width: 1024px) {
  .main-slider .slick-arrow.slick-prev {
    bottom: 25%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-slider .slick-arrow.slick-prev {
    bottom: 25%;
  }
}
.main-slider .info-item {
  position: absolute;
  z-index: 20;
  background: #ffffff;
  border-radius: 3px;
  padding: 10px 45px 10px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .main-slider .info-item {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-slider .info-item {
    display: none;
  }
}
.main-slider .info-item.climat {
  left: 13%;
  bottom: 40%;
}
.main-slider .info-item.multi {
  left: 53%;
  bottom: 32%;
}
.main-slider .info-item .title {
  transition: all 0.2s;
  font-size: 16px;
}
.main-slider .info-item:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.main-slider .info-item:hover:after {
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.main-slider .info-item:hover .title {
  color: #01A229;
}
.main-slider .info-item:hover .text {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
}
.main-slider .info-item:after {
  content: "";
  position: absolute;
  right: 15px;
  top: calc(50% - 3px);
  width: 12px;
  height: 6px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/svg/down-arrow.svg");
  transition: all 0.2s;
}
.main-slider .info-item .icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  cursor: default;
}
.main-slider .info-item .text {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 15px;
  background-color: #ffffff;
  width: 100%;
  transition: all 0.2s;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/*# sourceMappingURL=index.css.map */
