$font-family: 'Inter', sans-serif;
$font-family-alt: $font-family;
$font-family-validation: $font-family;
$font-family-headings: 'Raleway', sans-serif;

$text-color: #171717;
$font-size: 15px;
$green: #01A229;
$font-size-paragraph: 15px;
$paragraph-margin: 30px; //margin-bottom
$paragraph-height: 1.5;  //line-height
$paragraph-color: $text-color;
$list-image: false;  //list.png

$heading-margin: 40, 30 , 30, 30, 30, 30;
$heading-font-size: 64, 42 , 36 , 28, 26, 24;
$heading-font-weight: 600,600,600,600,600,600; // 1 = "normal"(400)
$heading-uppercase: 0,0,0,0,0,0; // 0 = "none", 1 = "uppercase"
$heading-text-align: l,l,l,l,l,l; // c = "center", l = "left", r = "right"
$heading-color: $text-color;

// SM Heading sizes
$sm-heading-change: true;
$sm-heading-margin: 50, 35, true, true, true, false;
$sm-heading-font-size: 40, 30, 24, true, true, false;
// XS Heading sizes
$xs-heading-change: true;
$xs-heading-margin: true, true, true, true, false, false;
$xs-heading-font-size: 28, 26, 24, 22, 20, 18;


$background-color: #fff;
$link-color: $green;
$link-hover-color: false;

$table-border-color: #d6d6d6;
$table-color: #3c3c3c;
$table-heading-color: false;

$z-index-blocker: 9;
$z-index-modal: 10;
$z-index-close-modal: 11;