.calc-button{
  background: linear-gradient(180deg, #00AF2C 0%, #009C27 100%);
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 28px;
  display: inline-block;
}

.play-button{
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: $green;
  text-decoration: none;
  padding: 10px 30px 10px 70px;
  background: #000000;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  max-width: 250px;
  transition: all .2s;
  &:hover{
    background-color: #ffffff;
  }
  &:after{
    content: '';
    position: absolute;
    left: 15px;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/svg/play.svg");
  }
}

.play-circle{
  position: absolute;
  z-index: 20;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: url("../img/svg/play.svg");
  &:after, &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #01AE2C;
    animation: pulse 1.5s linear infinite;
  }
  &:after{
    animation-delay: .9s;
  }
}

@keyframes pulse {
  from{
    opacity: 1;
    @include scale(1);
  }
  to{
    @include scale(1.4);
    opacity: 0;
  }
}