.pagination{
  @include flexbox;
  @include align-items(center);
  li{
    margin: 0 5px 0 5px;
    &:last-of-type{
      margin-right: 0;
    }
    &:first-of-type{
      margin-left: 0;
    }
    &:after{
      content: initial;
    }
    &.active{
      a{
        color: $green;
        font-weight: 600;
        border-color: $green;
      }
    }
    a{
      text-decoration: none;
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      width: 30px;
      height: 30px;
      color: #8e8e8e;
    }
  }
  .prev,.next{
    a{
      border: none;
      padding: 0;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/svg/right-arrow.svg");
    }
  }
  .prev{
    margin-right: 20px;
    a{
      @include rotate(180);
    }
  }
  .next{
    margin-left: 20px;
  }
}