.validation-field{
  position: relative;
  input{
    background: #FFFFFF;
    border-radius: 3px;
    height: 55px;
    padding: 15px 25px;
    width: 100%;
    border: 2px solid transparent;
    &:focus{
      border: 2px solid #01A229;
      & + .placeholder{
        opacity: 0;
      }
    }
  }
  .placeholder{
    pointer-events: none;
    @include user-select(none);
    transition: all .2s;
    font-size: 15px;
    line-height: 26px;
    color: #767676;
    position: absolute;
    left: 25px;
    top: 50%;
    @include transform(translateY(-50%));
    &.active{
      opacity: 0;
    }
  }
}

.form-submit{
  input{
    display: none;
  }
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(180deg, #00AF2C 0%, #009C27 100%);
  border-radius: 3px;
  height: 55px;
  padding: 18px 20px;
  span{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: block;
  }
}