ul(class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList")
    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a(href="./index.html" itemprop="item") Главная
    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        span(href="./index.html" itemprop="item") О нас
