header
    .container.logo-container
        a(href='/').logo-wrap
            img(src='../img/logo.png')
        ul.nav
            li.item-level-0
                a(href='#').link-level-0 Что такое умный дом
            li.item-level-0
                a(href='#').link-level-0 Стоимость
            li.item-level-0
                a(href='#').link-level-0 О нас
            li.item-level-0
                a(href='#').link-level-0 Контакты
        .header-right
            .lang-switch
                a(href='#').lang-item.active
                    img(src='../img/svg/rus.svg')
                a(href='#').lang-item
                    img(src='../img/svg/rus.svg')
                a(href='#').lang-item
                    img(src='../img/svg/rus.svg')
                .lang-trigger
            a(href='tel:+ 38 (067) 821-47-76').phone + 38 (067) 821-47-76
            .burger
                div
                div
                div
    .header-menu
        .container
            .left
                a(href='tel:+ 38 (067) 821-47-76').phone.mob + 38 (067) 821-47-76
                ul.nav
                    li.item-level-0
                        a(href='#').link-level-0 Что такое умный дом
                    li.item-level-0
                        a(href='#').link-level-0 Стоимость
                    li.item-level-0
                        a(href='#').link-level-0 О нас
                    li.item-level-0
                        a(href='#').link-level-0 Контакты
                ul.nav.small
                    li.item-level-0
                        a(href='#').link-level-0 Что такое умный дом
                    li.item-level-0
                        a(href='#').link-level-0 Стоимость
                    li.item-level-0
                        a(href='#').link-level-0 О нас
                    li.item-level-0
                        a(href='#').link-level-0 Контакты
            .right
                div
                    .title Возможности
                    .row
                        .column-left
                            ul.right-menu
                                li.right-menu-item
                                    a(href='#').right-menu-link Освещение
                                li.right-menu-item
                                    a(href='#').right-menu-link Электроприборы
                                li.right-menu-item
                                    a(href='#').right-menu-link Климат
                                li.right-menu-item
                                    a(href='#').right-menu-link Вентиляция
                                li.right-menu-item
                                    a(href='#').right-menu-link Домофон
                                li.right-menu-item
                                    a(href='#').right-menu-link Пульт
                                li.right-menu-item
                                    a(href='#').right-menu-link Мультирум
                                li.right-menu-item
                                    a(href='#').right-menu-link Система полива
                                li.right-menu-item
                                    a(href='#').right-menu-link Статистика
                        .column-right
                            ul.right-menu
                                li.right-menu-item
                                    a(href='#').right-menu-link Бассейн
                                li.right-menu-item
                                    a(href='#').right-menu-link Управление Умным домом
                                li.right-menu-item
                                    a(href='#').right-menu-link Видеонаблюдение
                                li.right-menu-item
                                    a(href='#').right-menu-link Безопасноть
                                li.right-menu-item
                                    a(href='#').right-menu-link Голосовое управление
                                li.right-menu-item
                                    a(href='#').right-menu-link Контроль безопасности
                                li.right-menu-item
                                    a(href='#').right-menu-link Будильник
                                li.right-menu-item
                                    a(href='#').right-menu-link Автоответчик
                a(href='#').play-button
                    span Видеопрезентация