.main-slider-wrap
    .left-image
        img(src='../img/slider.png')
    a(href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" class='fancybox.iframe various' data-type='iframe').play-circle
    .main-slider
        each val, index in [1,2,3,4,5]
                .slide
                    .left
                        .text Новый уровень комфорта
                        h1 Умный дом под ключ
                        a(href='#').calc-button Рассчитать стоимость
                    .right.object-fit
                        img(src='../img/slider1.png').slide-img
                        .info-item.multi
                            img(src='../img/svg/speaker 1.svg').icon
                            .title Мультирум
                            ul.text
                                each val in [1, 2, 3, 4, 5]
                                    li= val
                        .info-item.climat
                            img(src='../img/svg/climat.svg').icon
                            .title Климат-контроль
                            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
                        .info-item.electric
                            img(src='../img/svg/electric.svg').icon
                            .title Электричество
                            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
                        .info-item.safe
                            img(src='../img/svg/safe.svg').icon
                            .title Безопасность
                            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
                        .info-item.waterprof
                            img(src='../img/svg/waterprof.svg').icon
                            .title Защита от протечек
                            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
                        .info-item.control
                            img(src='../img/svg/control.svg').icon
                            .title Управление шторами
                            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
.mob-list
    .container
        .info-item.multi
            .top-item
                img(src='../img/svg/speaker 1.svg').icon
                .title Мультирум
                .mob-list-trigger
            ul.text
                each val in [1, 2, 3, 4, 5]
                    li= val
        .info-item.climat
            .top-item
                img(src='../img/svg/climat.svg').icon
                .title Климат-контроль
                .mob-list-trigger
            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
        .info-item.electric
            .top-item
                img(src='../img/svg/electric.svg').icon
                .title Электричество
                .mob-list-trigger
            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
        .info-item.safe
            .top-item
                img(src='../img/svg/safe.svg').icon
                .title Безопасность
                .mob-list-trigger
            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
        .info-item.waterprof
            .top-item
                img(src='../img/svg/waterprof.svg').icon
                .title Защита от протечек
                .mob-list-trigger
            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов
        .info-item.control
            .top-item
                img(src='../img/svg/control.svg').icon
                .title Управление шторами
                .mob-list-trigger
            .text Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов

