.modal
    .office-modal
        .close-form(data-fancybox-close)
        .country Украина
        .office-list.scrollbar-inner
            .office
                .city Киев
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Киев
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Харьков
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 61058, г. Харьков, пр. Науки, 12
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Харьков
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Днепропетровск
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 61058, г. Харьков, пр. Науки, 12
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Запорожье
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
        .country Россия
        .office-list
            .office
                .city Киев
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Киев
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Харьков
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 61058, г. Харьков, пр. Науки, 12
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Харьков
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Днепропетровск
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 61058, г. Харьков, пр. Науки, 12
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua
            .office
                .city Запорожье
                a.phone(href="tel:+ 38 (067) 821-47-76") + 38 (067) 821-47-76
                .address 08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30
                a.mail(href="mailto:info@smarthouse.ua") info@smarthouse.ua

script(src='../js/jquery-3.5.1.min.js')
script(src='../js/libs/scrollbar.js')
script(src='../js/officess.js')
