script(src='../js/jquery-3.5.1.min.js')
script(src='../js/libs/popup-slide.js')
script(src='../js/libs/scrollbar.js')
script(src='../js/libs/jquery.fancybox3.min.js')
script(src='../js/libs/slick.js')
script(src='../js/libs/nouislider.js')
script(src='../js/libs/jquery.validate.min.js')
script(src='../js/main.js')