.modal
    .succes-wrap
        .close-form(data-fancybox-close)
        img.success-icon(src="../img/svg/success.svg")
        h2  Cпасибо!
        .success-text Ваша заявка принята, в ближайшее время с Вами свяжется наш специалист
        .succes-button(data-fancybox-close) Хорошо