extends base

block content
    .padding-top.padding-bottom
        .container
            ul(class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList")
                li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                    a(href="#" itemprop="item") Главная
                li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                    a(href="#" itemprop="item") Блог
                li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                    span(href="./index.html" itemprop="item") Особенности умного дома SmartHouse и его преимущества
            h1 Особенности умного дома SmartHouse и его преимущества
            .blog-item-image.object-fit
                img(src='../img/project.png')
                .date 25 февраля 2021
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque consequuntur deleniti eaque error et expedita, explicabo fugiat id ipsa ipsum magni nulla, pariatur quam quo, sapiente tenetur ut.