extends base

block content
    .padding-top.container.contact
        ul(class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="./index.html" itemprop="item") Главная
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                span(itemprop="item") Контакты
        h1 Контакты
        .title-text Мы работаем во всех регионах Украины, звоните:
        .contact-list.our-map.animated-block
            .contact-item.active
                .city Киев
                .line
                    .title Адрес:
                    .value.address 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18
                .line
                    .title Телефон:
                    .value <a href="tel:+38(067) 821-47-78">+38(067) 821-47-78</a>
                .line
                    .title E-mail:
                    .value <a href="mailto:a.mozhayev@smarthouse.ua">a.mozhayev@smarthouse.ua</a>
            .contact-item
                .city Харьков
                .line
                    .title Адрес:
                    .value.address 61058, г. Харьков, пр. Науки, 12
                .line
                    .title Телефон:
                    .value <a href="tel:+38 (096) 256-88-11">+38 (096) 256-88-11</a>
                .line
                    .title E-mail:
                    .value <a href="mailto:sh@smarthouse.ua">sh@smarthouse.ua</a>
        #our-map
            iframe
        h2 Дилеры
        .tabs.diller-taps.animated-block
            ul.tab-list.diller-list
                each val, index in ['Украина', 'Россия', 'Казахстан', 'Молдова', 'Азербайджан', 'Грузия']
                    li.tab-item
                        a(href=`#tab-${index}`).tab-link= val
            div(id=`tab-0`).tab
                .contact-list
                    .contact-item.active
                        .city Киев
                        .line
                            .title Адрес:
                            .value.address 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18
                        .line
                            .title Телефон:
                            .value <a href="tel:+38(067) 821-47-78">+38(067) 821-47-78</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:a.mozhayev@smarthouse.ua">a.mozhayev@smarthouse.ua</a>
                    .contact-item
                        .city Харьков
                        .line
                            .title Адрес:
                            .value.address 61058, г. Харьков, пр. Науки, 12
                        .line
                            .title Телефон:
                            .value <a href="tel:+38 (096) 256-88-11">+38 (096) 256-88-11</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:sh@smarthouse.ua">sh@smarthouse.ua</a>
                .diller-map
                    iframe
            div(id=`tab-1`).tab
                .contact-list
                    .contact-item.active
                        .city Москва
                        .line
                            .title Адрес:
                            .value.address 04080, г. Москва, ул. Жамбила Жабаева 22, офис 18
                        .line
                            .title Телефон:
                            .value <a href="tel:+38(067) 821-47-78">+38(067) 821-47-78</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:a.mozhayev@smarthouse.ua">a.mozhayev@smarthouse.ua</a>
                    .contact-item
                        .city Новосибирск
                        .line
                            .title Адрес:
                            .value.address 61058, г. Новосибирск, пр. Науки, 12
                        .line
                            .title Телефон:
                            .value <a href="tel:+38 (096) 256-88-11">+38 (096) 256-88-11</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:sh@smarthouse.ua">sh@smarthouse.ua</a>
                .diller-map
                    iframe
            div(id=`tab-2`).tab
                .contact-list
                    .contact-item.active
                        .city Алматы
                        .line
                            .title Адрес:
                            .value.address 050000, Алматы, Жолдасбекова 9А
                        .line
                            .title Телефон:
                            .value <a href="tel:+38(067) 821-47-78">+38(067) 821-47-78</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:a.mozhayev@smarthouse.ua">a.mozhayev@smarthouse.ua</a>
                    .contact-item
                        .city Новосибирск
                        .line
                            .title Адрес:
                            .value.address 61058, г. Новосибирск, пр. Науки, 12
                        .line
                            .title Телефон:
                            .value <a href="tel:+38 (096) 256-88-11">+38 (096) 256-88-11</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:sh@smarthouse.ua">sh@smarthouse.ua</a>
                .diller-map
                    iframe
            div(id=`tab-3`).tab
                .contact-list
                    .contact-item.active
                        .city Алматы
                        .line
                            .title Адрес:
                            .value.address 050000, Алматы, Жолдасбекова 9А
                        .line
                            .title Телефон:
                            .value <a href="tel:+38(067) 821-47-78">+38(067) 821-47-78</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:a.mozhayev@smarthouse.ua">a.mozhayev@smarthouse.ua</a>
                    .contact-item
                        .city Новосибирск
                        .line
                            .title Адрес:
                            .value.address 61058, г. Новосибирск, пр. Науки, 12
                        .line
                            .title Телефон:
                            .value <a href="tel:+38 (096) 256-88-11">+38 (096) 256-88-11</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:sh@smarthouse.ua">sh@smarthouse.ua</a>
                .diller-map
                    iframe
            div(id=`tab-4`).tab
                .contact-list
                    .contact-item.active
                        .city Алматы
                        .line
                            .title Адрес:
                            .value.address 050000, Алматы, Жолдасбекова 9А
                        .line
                            .title Телефон:
                            .value <a href="tel:+38(067) 821-47-78">+38(067) 821-47-78</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:a.mozhayev@smarthouse.ua">a.mozhayev@smarthouse.ua</a>
                    .contact-item
                        .city Новосибирск
                        .line
                            .title Адрес:
                            .value.address 61058, г. Новосибирск, пр. Науки, 12
                        .line
                            .title Телефон:
                            .value <a href="tel:+38 (096) 256-88-11">+38 (096) 256-88-11</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:sh@smarthouse.ua">sh@smarthouse.ua</a>
                .diller-map
                    iframe
            div(id=`tab-5`).tab
                .contact-list
                    .contact-item.active
                        .city Алматы
                        .line
                            .title Адрес:
                            .value.address 050000, Алматы, Жолдасбекова 9А
                        .line
                            .title Телефон:
                            .value <a href="tel:+38(067) 821-47-78">+38(067) 821-47-78</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:a.mozhayev@smarthouse.ua">a.mozhayev@smarthouse.ua</a>
                    .contact-item
                        .city Новосибирск
                        .line
                            .title Адрес:
                            .value.address 61058, г. Новосибирск, пр. Науки, 12
                        .line
                            .title Телефон:
                            .value <a href="tel:+38 (096) 256-88-11">+38 (096) 256-88-11</a>
                        .line
                            .title E-mail:
                            .value <a href="mailto:sh@smarthouse.ua">sh@smarthouse.ua</a>
                .diller-map
                    iframe


        .contact-form-wrap.animated-block
            .contact-form
                form(method="post" action="").form.js-form
                    h6 Или заполните форму и с Вами свяжутся.
                    .validation-field
                        input(type="text" name='name' required).js-input
                        span.placeholder Имя
                    .validation-field
                        input(type="text" name='mail' required).js-input
                        span.placeholder E-mail
                    .validation-field
                        input(type="text" name='phone' required).js-input
                        span.placeholder Телефон
                    .validation-field
                        textarea(type="text" name='text' required).js-input
                        span.placeholder Сообщение
                    .ac-jc
                        label.button.form-submit
                            span Отправить
                            input.js-submit(type="submit" value="Отправить")
    script(src='../js/jquery-3.5.1.min.js')
    script(src='../js/contact-page.js')
