extends base

block content
    .padding-top.padding-bottom
        .container
            ul(class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList")
                li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                    a(href="#" itemprop="item") Главная
                li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                    span(href="./index.html" itemprop="item") Документы и сертификаты
            h1 Документы и сертификаты
            .document-list
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/d1.png' data-type='image' data-fancybox="images")
                    img(src='../img/d1.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
                .document-item.object-fit(data-src='../img/project.png' data-type='image' data-fancybox="images")
                    img(src='../img/project.png')
                    .zoom
