extends base

block content
    .page-404-wrap
        .container
            .row-404
                .number-404 404
                img.image-404(src='../img/404.png')
            .title-404 Ой... Мы не можем найти эту страницу!
            .text-404 Мы сожалеем, но страница на которую Вы пытались перейти не существует.<br>Пожалуйста вернитесь на предыдущую страницу или воспользуйтесь меню сайта.
            .ac-jc
                a.calc-button(href='../templates/index.html') Предыдущая страница