extends base

block content
    .padding-top.container.posibility
        .main-image.object-fit
            .text
                h1 Управление освещением
                .image-text Что предлагаем?
            img(src='../img/pos.png')
        p Привычный способ включить в доме свет – с помощью настенного выключателя — постепенно уходит в прошлое. Кстати, выключателю исполнилось в этом году 135 лет. Он был удобен для помещений с 1-2 источниками освещения. В современной гостиной может насчитываться до 12 групп светильников. Это может быть верхний свет, подсветка пола, ночные светильники, RGB подсветки интерьера, свет в шкафах-купе, дежурное освещение и т.д. Для управления таким количеством осветительных приборовпонадобилась бы целая «батарея» выключателей.
        h6 Привязка выключателей
        p В Умном доме проблему большого количества выключателей решили за счет их гибкой привязки. Любой выключатель можно перепрограммировать таким образом, что с его помощью можно будет включить или выключить любой осветительный прибор или группу приборов в доме по Вашему желанию. При этом для каждой группы прописывается индивидуальный световой сценарий.
        h6 Световые сценарии
        p Количество сценариев включения/выключения света может быть сколько угодно много. Это могут быть световые сценарии для чтения, для уборки помещений, для работы на компьютере и т.д. Часто возникает необходимость одновременно включить или выключить несколько источников света, например, для создания комфортных условий просмотра телепрограмм. В таком случае, Умный дом погасит все источники света в комнате кроме дежурного освещения и одновременно закроет шторы.
        h6 Автоматическое управление
        p Для реализации световых сценариев управлением светом в Умном доме автоматизируют. Для этого используют несколько типов датчиков: датчик движения, датчик освещенности, датчик положения двери и т.д.Человек входит в комнату – свет загорается. Через некоторое время, после того как Вы выйдите из помещения, свет погаснет.Это очень удобно, особенно когда у Вас заняты обе руки. Не требуется дополнительных усилий для того, чтобы включить освещение.Реагируя на движение в комнате, Умный дом одновременно оценивает количество естественного света.По мере того, как яркость дневного света уменьшается, Умный дом будет пропорционально увеличивать мощность осветительных приборов.Если в помещении достаточно солнечного света, автоматически освещение включаться не будет.По такому же принципу осветительные приборы в Умном доме будут реагировать на время суток, день недели или на определенное событие, например, на открытие/закрытие жалюзи, двери и т.д.Если Вы встали ночью, чтобы проверить, как спит ребенок, Умный дом автоматически включит ночники, на такую яркость, которой будет достаточно чтобы Вы комфортно видели предметы в комнате, и в тоже время свет не будет причинять неудобства глазам.
        h6 Дистанционное управление светом
        p В современном «умном» доме всем «набором» света, включая уличные фонари и RGB подсветки, можно управлять дистанционно с помощью пульта или единой панели управления. Так, сидя в кресле перед телевизором, нажав несколько кнопок на панели управления, Вы можете включить или выключить свет в гараже, в коридоре или в любой другой части дома. Более того, управлять светом в «умном» доме можно из любой точки земного <шара></шара>
        h6 Безопасность
        p «Умный» дом умеет сам себя охранять во время отсутствия хозяина. Он может имитировать присутствие в доме человека, периодически включая и выключая свет в разных комнатах, создавая шум и другие эффекты присутствия людей. Обычно, умное освещение закладывается в дизайн-проект будущего дома или квартиры. Затраты на автоматизированное управление светом окупаются значительной экономией электроэнергии. В некоторых случаях она может достигать 30%. Именно по этой причине «умные» дома получили широкое распространение в Европе.
    .container.pos-form
        .small-form-wrap.object-fit
            img(src='../img/form page.png').form-bg
            .small-form-container
                h2 Заявка
                .form-text Оставьте заявку на проектирование и установку системы умный дом прямо сейчас и управляйте своим домом <br> дистанционно с помощью одного клика
                .request-form
                    form(method="post" action="").form.js-form
                        .small-form-line
                            .validation-field
                                input(type="text" name='first_name' required).js-input
                                span.placeholder Представтесь, пожалуйста
                            .validation-field
                                input(type="text" name='first_name' required).js-input
                                span.placeholder Телефон
                            label.button.form-submit
                                span Оставить заявку
                                input.js-submit(type="submit" value="Отправить")
    .function-wrap.pos-func
        .container
            .title-line
                    h2 Других функций
            .function-list
                each val, index in ['Мультирум','Раздвижные ворота','Климат','Ролеты','Безопасность','Отопление']
                    a(href="#").item.object-fit
                        img(src='../img/d1.png')
                        .title=val
