extends base

block content
    .sitemap-wrap.padding-top
        .container
            h1 Карта сайта
            ul.site-map
                li <a href="#">«Умный дом»: не только автоматизация, но и контроль здоровья</a>
                li <a href="#">«Умный» дом или помощник современности</a>
                li <a href="#">4 гаджета с Алиэкспресс, которые сделают обычный дом умным</a>
                li <a href="#">О нас</a>
                    ul
                        li <a href="#">Управление сигнализацией с помощью Умного дома</a>
                        li <a href="#">Автоматизация в загородном доме</a>

