extends base

block content
    .container.padding-top.can.text-sector
        h1  Что умеет <span>Умный Дом</span>?
        .main-video.object-fit
            img(src='../img/slider1.png')
            a(class="fancybox.iframe various play-circle" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe")
        .about-block
            .about-image.object-fit
                img(src='../img/about.png')
            p.about-text Компания «MimiSystems» основана в 2004 году и специализируется на разработке интеллектуальных электронных систем и программного обеспечения. Нами разработана система «Умный Дом Mimi Smart».Мы предлагаем свои услуги в области интеллектуальных систем управления домом.Наша основная задача — создание уникальных решений в области инженерных систем, не уступающих западным технологиям, при этом, стоимость которых была бы приемлемой для потребителей.В нашей команде работают высокопрофессиональные инженеры, проектировщики, программисты и монтажники, что позволяет нам решать любые, даже самые сложные задачи.
        h6 Что предлагаем?
        p В настоящее время компания «MimiSystems» предлагает своим клиентам полный спектр услуг по автоматизации жилья: от проектирования системы до  их инсталляции и    технической поддержки.Иными словами, мы способны обеспечить клиенту комплексное решение, заменив целую команду подрядчиков. Комплексный подход к проектированию позволяет экономить до 40% средств на монтаже кабельных систем.На все оборудование и работы предоставляется гарантия.
        h6 Что умеет наша система?
        p Наша система «Умный Дом MimiSmart» позволяет осуществлять централизованный мониторинг и управление всеми инженерными системами коттеджа, офиса, или дома, буквально, «с одного пульта»! Интеллектуальные системы от нашей компании сочетают в себе функциональность, надёжность и максимальную эффективность в обеспечении комфорта и экономии энергоресурсов.Наша система «Умный Дом MimiSmart» оптимизирует энергозатраты и экономит эксплуатационные расходы.
        h6 Как мы работаем с клиентами?
        p Мы заинтересованы в каждом клиенте, поэтому частью нашей корпоративной политики является — индивидуальный подход к каждому клиенту, гибкость в подборе конфигурации, т.е. наряду с готовым набором услуг, который мы предоставляем клиентам, мы рассматриваем каждую ситуацию отдельно, согласно Вашим пожеланиям, с учётом Ваших возможностей.
        p.green Являясь, непосредственно, разработчиками и производителями системы «Умный Дом MimiSmart», составим и согласуем с Вами такой алгоритм работы нашей системы, который полностью удовлетворит Ваши требования.
        h6 Сотрудничество
        .ul-title Компания «MimiSystems»
        ul
            li приглашает к сотрудничеству дилеров, обеспечивает информационную поддержку, предоставляет хорошие скидки;
            li проводит бесплатное обучение для инсталляторов;
            li предлагает выгодные условия сотрудничества для архитекторов и дизайнеров, строительных и электротехнических компаний.
        h6 Вместе с Вами мы создадим Дом, о котором Вы мечтали!
    .function-wrap.pos-func
        .container
            .title-line
                h2 Функции
            .function-list
                each val, index in ['Мультирум','Раздвижные ворота','Климат','Ролеты','Безопасность','Отопление']
                    a(href="#").item.object-fit
                        img(src='../img/d1.png')
                        .title=val
