
<div class="clients-wrap">
  <div class="container">
    <div class="title-text">Ваш дом сделает все за вас</div>
    <h2>Управляйте своим умным домом из любой точки мира – с планшета или смартфона</h2>
    <div class="clients-slider">
      <div class="client-wrap">
        <div class="client">
          <div class="client-logo object-fit"><img src="../img/client.png"/></div>
          <div class="name">Яндекс Алиса</div>
        </div>
      </div>
      <div class="client-wrap">
        <div class="client">
          <div class="client-logo object-fit"><img src="../img/client.png"/></div>
          <div class="name">Apple Homepod</div>
        </div>
      </div>
      <div class="client-wrap">
        <div class="client">
          <div class="client-logo object-fit"><img src="../img/client.png"/></div>
          <div class="name">Apple Homekit</div>
        </div>
      </div>
      <div class="client-wrap">
        <div class="client">
          <div class="client-logo object-fit"><img src="../img/client.png"/></div>
          <div class="name">Google Home</div>
        </div>
      </div>
      <div class="client-wrap">
        <div class="client">
          <div class="client-logo object-fit"><img src="../img/client.png"/></div>
          <div class="name">Siri</div>
        </div>
      </div>
      <div class="client-wrap">
        <div class="client">
          <div class="client-logo object-fit"><img src="../img/client.png"/></div>
          <div class="name">Siri</div>
        </div>
      </div>
      <div class="client-wrap">
        <div class="client">
          <div class="client-logo object-fit"><img src="../img/client.png"/></div>
          <div class="name">Siri</div>
        </div>
      </div>
    </div>
  </div>
</div>