
<footer>
  <div class="container desktop">
    <div class="column"><a class="logo-wrap" href="/"><img src="../img/logo.png"/></a>
      <div class="contact-list"><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">Главный офис: 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18  <a href="#" class="offices">Другие офисы</a></div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
        <div class="work-time">Пн-Пт с 9-00 до 18-00</div>
      </div>
      <div class="social-list"><a class="social-item inst" href="#"></a><a class="social-item facebook" href="#"></a><a class="social-item vk" href="#"></a></div>
      <div class="copyriting">Перепечатка материалов с сайта<br> запрещена.<br> 2009-2020. SmartHouse <br>Все права защищены.</div>
    </div>
    <div class="column">
      <div class="title">Возможности</div>
      <div class="footer-nav"><a class="footer-link" href="#">link 0</a><a class="footer-link" href="#">link 1</a><a class="footer-link" href="#">link 2</a><a class="footer-link" href="#">link 3</a><a class="footer-link" href="#">link 4</a><a class="footer-link" href="#">link 5</a><a class="footer-link" href="#">link 6</a><a class="footer-link" href="#">link 7</a><a class="footer-link" href="#">link 8</a><a class="footer-link" href="#">link 9</a><a class="footer-link" href="#">link 10</a><a class="footer-link" href="#">link 11</a><a class="footer-link" href="#">link 12</a><a class="footer-link" href="#">link 13</a><a class="footer-link" href="#">link 14</a><a class="footer-link" href="#">link 15</a><a class="footer-link" href="#">link 16</a>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="title">О компании</div>
        <div class="footer-nav"><a class="footer-link" href="#">link 0</a><a class="footer-link" href="#">link 1</a><a class="footer-link" href="#">link 2</a><a class="footer-link" href="#">link 3</a><a class="footer-link" href="#">link 4</a><a class="footer-link" href="#">link 5</a><a class="footer-link" href="#">link 6</a><a class="footer-link" href="#">link 7</a><a class="footer-link" href="#">link 8</a><a class="footer-link" href="#">link 9</a>
        </div>
      </div>
      <div class="app-links"><a href="#"><img src="../img/playmarket.png"/></a><a href="#"><img src="../img/appstore.png"/></a></div>
    </div>
  </div>
  <div class="container mob">
    <div class="menu-column">
      <div class="title">Контакты
        <div class="footer-trigger"></div>
      </div>
      <div>
        <div class="contact-list"><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
          <div class="address">Главный офис: 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18  <a href="#" class="offices">Другие офисы</a></div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
          <div class="work-time">Пн-Пт с 9-00 до 18-00</div>
        </div>
        <div class="social-list"><a class="social-item inst" href="#"></a><a class="social-item facebook" href="#"></a><a class="social-item vk" href="#"></a></div>
        <div class="app-links"><a href="#"><img src="../img/playmarket.png"/></a><a href="#"><img src="../img/appstore.png"/></a></div>
      </div>
    </div>
    <div class="menu-column">
      <div class="title">Возможности
        <div class="footer-trigger"></div>
      </div>
      <div>
        <div class="footer-nav"><a class="footer-link" href="#">link 0</a><a class="footer-link" href="#">link 1</a><a class="footer-link" href="#">link 2</a><a class="footer-link" href="#">link 3</a><a class="footer-link" href="#">link 4</a><a class="footer-link" href="#">link 5</a><a class="footer-link" href="#">link 6</a><a class="footer-link" href="#">link 7</a><a class="footer-link" href="#">link 8</a><a class="footer-link" href="#">link 9</a><a class="footer-link" href="#">link 10</a><a class="footer-link" href="#">link 11</a><a class="footer-link" href="#">link 12</a><a class="footer-link" href="#">link 13</a><a class="footer-link" href="#">link 14</a><a class="footer-link" href="#">link 15</a><a class="footer-link" href="#">link 16</a>
        </div>
      </div>
    </div>
    <div class="menu-column">
      <div class="title">О компании
        <div class="footer-trigger"></div>
      </div>
      <div>
        <div class="footer-nav"><a class="footer-link" href="#">link 0</a><a class="footer-link" href="#">link 1</a><a class="footer-link" href="#">link 2</a><a class="footer-link" href="#">link 3</a><a class="footer-link" href="#">link 4</a><a class="footer-link" href="#">link 5</a><a class="footer-link" href="#">link 6</a><a class="footer-link" href="#">link 7</a><a class="footer-link" href="#">link 8</a><a class="footer-link" href="#">link 9</a>
        </div>
      </div>
    </div>
    <div class="copyriting">Перепечатка материалов с сайта<br> запрещена.<br> 2009-2020. SmartHouse <br>Все права защищены.</div>
  </div>
</footer>