
<header>
  <div class="container"><a class="logo-wrap" href="/"><img src="../img/logo.png"/></a>
    <ul class="nav">
      <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
      <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
      <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
      <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
    </ul>
    <div class="header-right">
      <div class="lang-switch"><a class="lang-item active" href="#"><img src="../img/svg/rus.svg"/></a><a class="lang-item" href="#"><img src="../img/svg/rus.svg"/></a><a class="lang-item" href="#"><img src="../img/svg/rus.svg"/></a></div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
      <div class="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="header-menu">
    <div class="container">
      <div class="left">
        <ul class="nav">
          <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
          <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
          <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
          <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
        </ul>
        <ul class="nav small">
          <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
          <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
          <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
          <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="right">
        <div>
          <div class="title">Возможности</div>
          <div class="row">
            <div class="column-left">
              <ul class="right-menu">
                <li class="right-menu-item"><a class="right-menu-link" href="#">Освещение</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Электроприборы</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Климат</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Вентиляция</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Домофон</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Пульт</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Мультирум</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Система полива</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Статистика</a></li>
              </ul>
            </div>
            <div class="column-right">
              <ul class="right-menu">
                <li class="right-menu-item"><a class="right-menu-link" href="#">Бассейн</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Управление Умным домом</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Видеонаблюдение</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Безопасноть</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Голосовое управление</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Контроль безопасности</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Будильник</a></li>
                <li class="right-menu-item"><a class="right-menu-link" href="#">Автоответчик</a></li>
              </ul>
            </div>
          </div>
        </div><a class="play-button" href="#"><span>Видеопрезентация</span></a>
      </div>
    </div>
  </div>
</header>