<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/base.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&amp;display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="container logo-container"><a class="logo-wrap" href="/"><img src="../img/logo.png"></a>
          <ul class="nav">
            <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
            <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
            <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
            <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
          </ul>
          <div class="header-right">
            <div class="lang-switch"><a class="lang-item active" href="#"><img src="../img/svg/rus.svg"></a><a class="lang-item" href="#"><img src="../img/svg/rus.svg"></a><a class="lang-item" href="#"><img src="../img/svg/rus.svg"></a></div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
            <div class="burger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="header-menu">
          <div class="container">
            <div class="left"><a class="phone mob" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
              <ul class="nav">
                <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
              </ul>
              <ul class="nav small">
                <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="right">
              <div>
                <div class="title">Возможности</div>
                <div class="row">
                  <div class="column-left">
                    <ul class="right-menu">
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Освещение</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Электроприборы</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Климат</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Вентиляция</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Домофон</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Пульт</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Мультирум</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Система полива</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Статистика</a></li>
                    </ul>
                  </div>
                  <div class="column-right">
                    <ul class="right-menu">
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Бассейн</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Управление Умным домом</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Видеонаблюдение</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Безопасноть</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Голосовое управление</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Контроль безопасности</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Будильник</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Автоответчик</a></li>
                    </ul>
                  </div>
                </div>
              </div><a class="play-button" href="#"><span>Видеопрезентация</span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="main-slider-wrap">
        <div class="left-image"><img src="../img/slider.png"></div><a class="fancybox.iframe various play-circle" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a>
        <div class="main-slider">
          <div class="slide">
            <div class="left">
              <div class="text">Новый уровень комфорта</div>
              <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
            </div>
            <div class="right object-fit"><img class="slide-img" src="../img/slider1.png">
              <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg">
                <div class="title">Мультирум</div>
                <ul class="text">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg">
                <div class="title">Климат-контроль</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg">
                <div class="title">Электричество</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg">
                <div class="title">Безопасность</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg">
                <div class="title">Защита от протечек</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item control"><img class="icon" src="../img/svg/control.svg">
                <div class="title">Управление шторами</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="left">
              <div class="text">Новый уровень комфорта</div>
              <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
            </div>
            <div class="right object-fit"><img class="slide-img" src="../img/slider1.png">
              <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg">
                <div class="title">Мультирум</div>
                <ul class="text">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg">
                <div class="title">Климат-контроль</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg">
                <div class="title">Электричество</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg">
                <div class="title">Безопасность</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg">
                <div class="title">Защита от протечек</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item control"><img class="icon" src="../img/svg/control.svg">
                <div class="title">Управление шторами</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="left">
              <div class="text">Новый уровень комфорта</div>
              <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
            </div>
            <div class="right object-fit"><img class="slide-img" src="../img/slider1.png">
              <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg">
                <div class="title">Мультирум</div>
                <ul class="text">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg">
                <div class="title">Климат-контроль</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg">
                <div class="title">Электричество</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg">
                <div class="title">Безопасность</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg">
                <div class="title">Защита от протечек</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item control"><img class="icon" src="../img/svg/control.svg">
                <div class="title">Управление шторами</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="left">
              <div class="text">Новый уровень комфорта</div>
              <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
            </div>
            <div class="right object-fit"><img class="slide-img" src="../img/slider1.png">
              <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg">
                <div class="title">Мультирум</div>
                <ul class="text">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg">
                <div class="title">Климат-контроль</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg">
                <div class="title">Электричество</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg">
                <div class="title">Безопасность</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg">
                <div class="title">Защита от протечек</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item control"><img class="icon" src="../img/svg/control.svg">
                <div class="title">Управление шторами</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="left">
              <div class="text">Новый уровень комфорта</div>
              <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
            </div>
            <div class="right object-fit"><img class="slide-img" src="../img/slider1.png">
              <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg">
                <div class="title">Мультирум</div>
                <ul class="text">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              </div>
              <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg">
                <div class="title">Климат-контроль</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg">
                <div class="title">Электричество</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg">
                <div class="title">Безопасность</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg">
                <div class="title">Защита от протечек</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
              <div class="info-item control"><img class="icon" src="../img/svg/control.svg">
                <div class="title">Управление шторами</div>
                <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="numbers-wrap">
        <div class="container">
          <div class="number-list">
            <div class="num-item">
              <div class="num">12</div>
              <div class="description">тысяч квадратных метров умных домов</div>
            </div>
            <div class="num-item">
              <div class="num">1730</div>
              <div class="description">тысяч квадратных метров умных домов</div>
            </div>
            <div class="num-item">
              <div class="num">82</div>
              <div class="description">тысяч квадратных метров умных домов</div>
            </div>
            <div class="num-item">
              <div class="num">12700</div>
              <div class="description">тысяч квадратных метров умных домов</div>
            </div>
          </div>
        </div>
      </div>
      <div class="function-wrap">
        <div class="container">
          <div class="title-text">управляйте домом с помощью одного клика</div>
          <div class="title-line">
            <h2>Функции</h2><a class="more" href="#">Больше функций</a>
          </div>
          <div class="function-list"><a class="item object-fit" href="#"><img src="../img/d1.png">
              <div class="title">Мультирум</div></a><a class="item object-fit" href="#"><img src="../img/d1.png">
              <div class="title">Раздвижные ворота</div></a><a class="item object-fit" href="#"><img src="../img/d1.png">
              <div class="title">Климат</div></a><a class="item object-fit" href="#"><img src="../img/d1.png">
              <div class="title">Ролеты</div></a><a class="item object-fit" href="#"><img src="../img/d1.png">
              <div class="title">Безопасность</div></a><a class="item object-fit" href="#"><img src="../img/d1.png">
              <div class="title">Отопление</div></a>
          </div>
          <div class="ac-jc"><a class="more mob" href="#">Больше функций</a></div>
        </div>
      </div>
      <div class="clients-wrap">
        <div class="container">
          <div class="title-text">Ваш дом сделает все за вас</div>
          <h2>Управляйте своим умным домом из любой точки мира – с планшета или смартфона</h2>
          <div class="clients-slider">
            <div class="client-wrap">
              <div class="client">
                <div class="client-logo object-fit"><img src="../img/client.png"></div>
                <div class="name">Яндекс Алиса</div>
              </div>
            </div>
            <div class="client-wrap">
              <div class="client">
                <div class="client-logo object-fit"><img src="../img/client.png"></div>
                <div class="name">Apple Homepod</div>
              </div>
            </div>
            <div class="client-wrap">
              <div class="client">
                <div class="client-logo object-fit"><img src="../img/client.png"></div>
                <div class="name">Apple Homekit</div>
              </div>
            </div>
            <div class="client-wrap">
              <div class="client">
                <div class="client-logo object-fit"><img src="../img/client.png"></div>
                <div class="name">Google Home</div>
              </div>
            </div>
            <div class="client-wrap">
              <div class="client">
                <div class="client-logo object-fit"><img src="../img/client.png"></div>
                <div class="name">Siri</div>
              </div>
            </div>
            <div class="client-wrap">
              <div class="client">
                <div class="client-logo object-fit"><img src="../img/client.png"></div>
                <div class="name">Siri</div>
              </div>
            </div>
            <div class="client-wrap">
              <div class="client">
                <div class="client-logo object-fit"><img src="../img/client.png"></div>
                <div class="name">Siri</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-wrapper">
        <div class="container">
          <div class="title-text">Как "Умный дом" изменит Ваше жилье?</div>
          <h2><span>Новый уровень</span> вашего комфорта и безопасности</h2>
          <p class="description">
            Интеграция всех инженерных систем с «Умным домом» позволит Вам контролировать <br> их работу,  управлять ею, осуществлять постоянный мониторинг потребления ресурсов. <br>Всё это Вы можете сделать с экрана своего смартфона</p>
          <div class="tabs">
            <ul class="tab-list">
              <li class="tab-item"><a class="tab-link" href="#tab-0" data-text="Пульт от телевизора">Пульт от телевизора</a></li>
              <li class="tab-item"><a class="tab-link" href="#tab-1" data-text="Пульт от кондиционера">Пульт от кондиционера</a></li>
              <li class="tab-item"><a class="tab-link" href="#tab-2" data-text="Регулятор теплого пола">Регулятор теплого пола</a></li>
              <li class="tab-item"><a class="tab-link" href="#tab-3" data-text="Пульт от Blue Ray">Пульт от Blue Ray</a></li>
              <li class="tab-item"><a class="tab-link" href="#tab-4" data-text="Терморегулятор радиатора">Терморегулятор радиатора</a></li>
              <li class="tab-item"><a class="tab-link" href="#tab-5" data-text="Выключатели">Выключатели</a></li>
            </ul>
            <div class="tab" id="tab-0">
              <div class="left">
                <div class="title">Сейчас 0</div><img src="../img/tab1.png">
              </div>
              <div class="right">
                <div class="title">c MiMiSmart 0</div><img src="../img/tab2.png">
              </div>
            </div>
            <div class="tab" id="tab-1">
              <div class="left">
                <div class="title">Сейчас 1</div><img src="../img/tab1.png">
              </div>
              <div class="right">
                <div class="title">c MiMiSmart 1</div><img src="../img/tab2.png">
              </div>
            </div>
            <div class="tab" id="tab-2">
              <div class="left">
                <div class="title">Сейчас 2</div><img src="../img/tab1.png">
              </div>
              <div class="right">
                <div class="title">c MiMiSmart 2</div><img src="../img/tab2.png">
              </div>
            </div>
            <div class="tab" id="tab-3">
              <div class="left">
                <div class="title">Сейчас 3</div><img src="../img/tab1.png">
              </div>
              <div class="right">
                <div class="title">c MiMiSmart 3</div><img src="../img/tab2.png">
              </div>
            </div>
            <div class="tab" id="tab-4">
              <div class="left">
                <div class="title">Сейчас 4</div><img src="../img/tab1.png">
              </div>
              <div class="right">
                <div class="title">c MiMiSmart 4</div><img src="../img/tab2.png">
              </div>
            </div>
            <div class="tab" id="tab-5">
              <div class="left">
                <div class="title">Сейчас 5</div><img src="../img/tab1.png">
              </div>
              <div class="right">
                <div class="title">c MiMiSmart 5</div><img src="../img/tab2.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="steps-wrap">
        <div class="container">
          <h2><span>Этапы внедрения</span> системы умный дом</h2>
          <div class="step-list">
            <div class="step">
              <div class="icon"><img src="../img/icon.png">
                <div class="num">1</div>
              </div>
              <div class="title">Сборка электрощитков и автоматики</div>
              <div class="text">Включает согласование ТЗ, разработку схем размещения полевого оборудования и прокладки кабельных трасс, однолиненйную схему и схему щита автоматизации, а также спецификацию оборудования</div>
            </div>
            <div class="step">
              <div class="icon"><img src="../img/icon.png">
                <div class="num">2</div>
              </div>
              <div class="title">Сборка электрощитков и автоматики</div>
              <div class="text">Включает согласование ТЗ, разработку схем размещения полевого оборудования и прокладки кабельных трасс, однолиненйную схему и схему щита автоматизации, а также спецификацию оборудования</div>
            </div>
            <div class="step">
              <div class="icon"><img src="../img/icon.png">
                <div class="num">3</div>
              </div>
              <div class="title">Сборка электрощитков и автоматики</div>
              <div class="text">Включает согласование ТЗ, разработку схем размещения полевого оборудования и прокладки кабельных трасс, однолиненйную схему и схему щита автоматизации, а также спецификацию оборудования</div>
            </div>
            <div class="step">
              <div class="icon"><img src="../img/icon.png">
                <div class="num">4</div>
              </div>
              <div class="title">Сборка электрощитков и автоматики</div>
              <div class="text">Включает согласование ТЗ, разработку схем размещения полевого оборудования и прокладки кабельных трасс, однолиненйную схему и схему щита автоматизации, а также спецификацию оборудования</div>
            </div>
            <div class="step">
              <div class="icon"><img src="../img/icon.png">
                <div class="num">5</div>
              </div>
              <div class="title">Сборка электрощитков и автоматики</div>
              <div class="text">Включает согласование ТЗ, разработку схем размещения полевого оборудования и прокладки кабельных трасс, однолиненйную схему и схему щита автоматизации, а также спецификацию оборудования</div>
            </div>
            <div class="step">
              <div class="icon"><img src="../img/icon.png">
                <div class="num">6</div>
              </div>
              <div class="title">Сборка электрощитков и автоматики</div>
              <div class="text">Включает согласование ТЗ, разработку схем размещения полевого оборудования и прокладки кабельных трасс, однолиненйную схему и схему щита автоматизации, а также спецификацию оборудования</div>
            </div>
          </div>
        </div>
      </div>
      <div class="calc-block-wrap">
        <div class="container">
          <div class="calc-block">
            <h2><span>Рассчитайте </span>свой умный дом</h2>
            <div class="row">
              <div class="calc-column left">
                <div class="left-top">
                  <div class="square-line">
                    <div class="square-text">Общая площадь:</div>
                    <div class="square"><span>0</span> м<sup>2</sup></div>
                  </div>
                  <div class="square-slide-wrap">
                    <div id="square-slide"></div>
                  </div>
                </div>
                <div class="left-bottom">
                  <div class="total-line">Итого: <span>250 грн</span></div><a class="calc-button" href="#">Отправить расчет</a>
                  <div class="calc-text">Данный расчет носит предварительный характер и указывает на порядок цены. Стоимость в данном случае не является окончательной, она может изменяться, как в меньшую, так и в большую сторону</div>
                </div>
              </div>
              <div class="calc-column right">
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="10">Электричество</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="20">Мультирум</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="30">Ворота</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="40">Климат</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="50">Ролеты</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="60">Отопление</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="70">Датчик протечки воды</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="80">Датчик движения</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="90">Датчик дыма</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="100">Сигнализация</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
                <label class="calc-item"><img class="icon" src="../img/idea 1.png"><span class="title" data-sum="110">Сценарий релакс</span>
                  <input type="checkbox"><span class="checkbox"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="small-form-wrap object-fit"><img class="form-bg" src="../img/form.png">
        <div class="container">
          <h2>У вас есть дом – у нас система умный дом!</h2>
          <div class="form-text">Оставьте заявку на проектирование и установку системы умный дом прямо сейчас <br> и управляйте своим домом дистанционно с помощью одного клика</div>
          <div class="request-form">
            <form class="form js-form" method="post" action="">
              <div class="small-form-line">
                <div class="validation-field">
                  <input class="js-input" type="text" name="first_name" required><span class="placeholder">Представтесь, пожалуйста</span>
                </div>
                <div class="validation-field">
                  <input class="js-input" type="text" name="first_name" required><span class="placeholder">Телефон</span>
                </div>
                <label class="button form-submit"><span>Оставить заявку</span>
                  <input class="js-submit" type="submit" value="Отправить">
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="completed-projects-wrap">
        <div class="container">
          <div class="title-line">
            <h2>Выполненые <span>проекты</span></h2><a class="more" href="#">Больше проектов</a>
          </div>
          <div class="project-slider">
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
          </div>
          <div class="ac-jc"><a class="more mob" href="#">Больше проектов</a></div>
        </div>
      </div>
      <div class="show-room-wrap">
        <div class="container">
          <h2> Посетите наши <span>шоу-румы</span></h2>
          <div class="show-room-list">
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Капля колорита"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Нежный дом"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Просто почувствуй"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Будь в топе"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
          </div>
          <div class="show-room-list slider">
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Капля колорита"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Нежный дом"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Просто почувствуй"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Будь в топе"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button" data-src="../templates/succes.html" data-fancybox data-type="ajax">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container desktop">
        <div class="column"><a class="logo-wrap" href="/"><img src="../img/logo.png"></a>
          <div class="contact-list"><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
            <div class="address">Главный офис: 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18  <a href="javascript:void(0);" data-fancybox data-src="../templates/offices.html" data-type="ajax" class="offices">Другие офисы</a></div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
            <div class="work-time">Пн-Пт с 9-00 до 18-00</div>
          </div>
          <div class="social-list"><a class="social-item inst" href="#"></a><a class="social-item facebook" href="#"></a><a class="social-item vk" href="#"></a></div>
          <div class="copyriting">Перепечатка материалов с сайта<br> запрещена.<br> 2009-2020. SmartHouse <br>Все права защищены.</div>
        </div>
        <div class="column">
          <div class="title">Возможности</div>
          <div class="footer-nav"><a class="footer-link" href="#">Освещение</a><a class="footer-link" href="#">Электроприборы</a><a class="footer-link" href="#">Климат</a><a class="footer-link" href="#">Вентиляция</a><a class="footer-link" href="#">Домофон</a><a class="footer-link" href="#">Мультирум</a><a class="footer-link" href="#">Пульт</a><a class="footer-link" href="#">Система полива</a><a class="footer-link" href="#">Статистика</a><a class="footer-link" href="#">Бассейн</a><a class="footer-link" href="#">Управление Умным домом</a><a class="footer-link" href="#">Видеонаблюдение</a><a class="footer-link" href="#">Безопасноть</a><a class="footer-link" href="#">Голосовое управление</a><a class="footer-link" href="#">Контроль безопасности</a><a class="footer-link" href="#">Будильник</a><a class="footer-link" href="#">Автоответчик</a>
          </div>
        </div>
        <div class="column">
          <div>
            <div class="title">О компании</div>
            <div class="footer-nav"><a class="footer-link" href="#">Что такое Умный дом</a><a class="footer-link" href="#">Что умеет Умный дом</a><a class="footer-link" href="#">Как работает Умный дом</a><a class="footer-link" href="#">Стоимость</a><a class="footer-link" href="#">Калькулятор</a><a class="footer-link" href="#">Почему мы лучше других</a><a class="footer-link" href="#">Видео</a><a class="footer-link" href="#">Документы</a><a class="footer-link" href="#">О нас</a><a class="footer-link" href="#">Контакты</a>
            </div>
          </div>
          <div class="app-links"><a href="#"><img src="../img/playmarket.png"></a><a href="#"><img src="../img/appstore.png"></a></div>
        </div>
      </div>
      <div class="container mob">
        <div class="menu-column">
          <div class="title active">Контакты
            <div class="footer-trigger"></div>
          </div>
          <div style="display:block">
            <div class="contact-list"><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
              <div class="address">Главный офис: 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18  <a href="#" class="offices">Другие офисы</a></div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
              <div class="work-time">Пн-Пт с 9-00 до 18-00</div>
            </div>
            <div class="social-list"><a class="social-item inst" href="#"></a><a class="social-item facebook" href="#"></a><a class="social-item vk" href="#"></a></div>
            <div class="app-links"><a href="#"><img src="../img/playmarket.png"></a><a href="#"><img src="../img/appstore.png"></a></div>
          </div>
        </div>
        <div class="menu-column">
          <div class="title">Возможности
            <div class="footer-trigger"></div>
          </div>
          <div>
            <div class="footer-nav"><a class="footer-link" href="#">Освещение</a><a class="footer-link" href="#">Электроприборы</a><a class="footer-link" href="#">Климат</a><a class="footer-link" href="#">Вентиляция</a><a class="footer-link" href="#">Домофон</a><a class="footer-link" href="#">Мультирум</a><a class="footer-link" href="#">Пульт</a><a class="footer-link" href="#">Система полива</a><a class="footer-link" href="#">Статистика</a><a class="footer-link" href="#">Бассейн</a><a class="footer-link" href="#">Управление Умным домом</a><a class="footer-link" href="#">Видеонаблюдение</a><a class="footer-link" href="#">Безопасноть</a><a class="footer-link" href="#">Голосовое управление</a><a class="footer-link" href="#">Контроль безопасности</a><a class="footer-link" href="#">Будильник</a><a class="footer-link" href="#">Автоответчик</a>
            </div>
          </div>
        </div>
        <div class="menu-column">
          <div class="title">О компании
            <div class="footer-trigger"></div>
          </div>
          <div>
            <div class="footer-nav"><a class="footer-link" href="#">Что такое Умный дом</a><a class="footer-link" href="#">Что умеет Умный дом</a><a class="footer-link" href="#">Как работает Умный дом</a><a class="footer-link" href="#">Стоимость</a><a class="footer-link" href="#">Калькулятор</a><a class="footer-link" href="#">Почему мы лучше других</a><a class="footer-link" href="#">Видео</a><a class="footer-link" href="#">Документы</a><a class="footer-link" href="#">О нас</a><a class="footer-link" href="#">Контакты</a>
            </div>
          </div>
        </div>
        <div class="copyriting">Перепечатка материалов с сайта<br> запрещена.<br> 2009-2020. SmartHouse <br>Все права защищены.</div>
      </div>
    </footer>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/libs/popup-slide.js"></script>
    <script src="../js/libs/jquery.fancybox3.min.js"></script>
    <script src="../js/libs/slick.js"></script>
    <script src="../js/libs/nouislider.js"></script>
    <script src="../js/libs/jquery.validate.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>