
<div class="main-slider-wrap">
  <div class="left-image"><img src="../img/slider.png"/></div><a class="play-circle" href="#"></a>
  <div class="main-slider">
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="numbers-wrap">
  <div class="container">
    <div class="number-list">
      <div class="num-item">
        <div class="num">12</div>
        <div class="description">тысяч квадратных метров умных домов</div>
      </div>
      <div class="num-item">
        <div class="num">1730</div>
        <div class="description">тысяч квадратных метров умных домов</div>
      </div>
      <div class="num-item">
        <div class="num">82</div>
        <div class="description">тысяч квадратных метров умных домов</div>
      </div>
      <div class="num-item">
        <div class="num">12700</div>
        <div class="description">тысяч квадратных метров умных домов</div>
      </div>
    </div>
  </div>
</div>
<div class="function-wrap">
  <div class="container">
    <div class="title-text">управляйте домом с помощью одного клика</div>
    <div class="title-line">
      <h2>Функции</h2><a class="more" href="#">Больше функций</a>
    </div>
    <div class="function-list"><a class="item object-fit" href="#"><img src="../img/d1.png"/>
        <div class="title">Мультирум</div></a><a class="item object-fit" href="#"><img src="../img/d1.png"/>
        <div class="title">Раздвижные ворота</div></a><a class="item object-fit" href="#"><img src="../img/d1.png"/>
        <div class="title">Климат</div></a><a class="item object-fit" href="#"><img src="../img/d1.png"/>
        <div class="title">Ролеты</div></a><a class="item object-fit" href="#"><img src="../img/d1.png"/>
        <div class="title">Безопасность</div></a><a class="item object-fit" href="#"><img src="../img/d1.png"/>
        <div class="title">Отопление</div></a>
    </div>
    <div class="ac-jc"><a class="more mob" href="#">Больше функций</a></div>
  </div>
</div>