
<div class="main-slider-wrap">
  <div class="left-image"><img src="../img/slider.png"/></div><a class="play-circle" href="#"></a>
  <div class="main-slider">
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">. Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
  </div>
</div>