
<div class="main-slider-wrap">
  <div class="left-image"><img src="../img/slider.png"/></div><a class="fancybox.iframe various play-circle" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a>
  <div class="main-slider">
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg"/>
          <div class="title">Электричество</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg"/>
          <div class="title">Безопасность</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg"/>
          <div class="title">Защита от протечек</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item control"><img class="icon" src="../img/svg/control.svg"/>
          <div class="title">Управление шторами</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg"/>
          <div class="title">Электричество</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg"/>
          <div class="title">Безопасность</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg"/>
          <div class="title">Защита от протечек</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item control"><img class="icon" src="../img/svg/control.svg"/>
          <div class="title">Управление шторами</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg"/>
          <div class="title">Электричество</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg"/>
          <div class="title">Безопасность</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg"/>
          <div class="title">Защита от протечек</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item control"><img class="icon" src="../img/svg/control.svg"/>
          <div class="title">Управление шторами</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg"/>
          <div class="title">Электричество</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg"/>
          <div class="title">Безопасность</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg"/>
          <div class="title">Защита от протечек</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item control"><img class="icon" src="../img/svg/control.svg"/>
          <div class="title">Управление шторами</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <div class="text">Новый уровень комфорта</div>
        <h1>Умный дом под ключ</h1><a class="calc-button" href="#">Рассчитать стоимость</a>
      </div>
      <div class="right object-fit"><img class="slide-img" src="../img/slider1.png"/>
        <div class="info-item multi"><img class="icon" src="../img/svg/speaker 1.svg"/>
          <div class="title">Мультирум</div>
          <ul class="text">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="info-item climat"><img class="icon" src="../img/svg/climat.svg"/>
          <div class="title">Климат-контроль</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item electric"><img class="icon" src="../img/svg/electric.svg"/>
          <div class="title">Электричество</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item safe"><img class="icon" src="../img/svg/safe.svg"/>
          <div class="title">Безопасность</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item waterprof"><img class="icon" src="../img/svg/waterprof.svg"/>
          <div class="title">Защита от протечек</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
        <div class="info-item control"><img class="icon" src="../img/svg/control.svg"/>
          <div class="title">Управление шторами</div>
          <div class="text">Краткое описание или список. «Умный дом» позволит Вам контролировать их работу, управлять ею, осуществлять постоянный мониторинг потребления ресурсов</div>
        </div>
      </div>
    </div>
  </div>
</div>