
<div class="modal">
  <div class="office-modal">
    <div class="close-form" data-fancybox-close="data-fancybox-close"></div>
    <div class="country">Украина</div>
    <div class="office-list scrollbar-inner">
      <div class="office">
        <div class="city">Киев</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Киев</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Харьков</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">61058, г. Харьков, пр. Науки, 12</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Харьков</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Днепропетровск</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">61058, г. Харьков, пр. Науки, 12</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Запорожье</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
    </div>
    <div class="country">Россия</div>
    <div class="office-list">
      <div class="office">
        <div class="city">Киев</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Киев</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Харьков</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">61058, г. Харьков, пр. Науки, 12</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Харьков</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">Главный офис: 04080, г. Киев,  ул. Жамбила Жабаева 22, офис 18</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Днепропетровск</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">61058, г. Харьков, пр. Науки, 12</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
      <div class="office">
        <div class="city">Запорожье</div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
        <div class="address">08131, Киев, с. Софиевская Борщаговка, ул. Малая Кольцевая, 30</div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
      </div>
    </div>
  </div>
</div>
<script src="../js/jquery-3.5.1.min.js"></script>
<script src="../js/libs/scrollbar.js"></script>
<script src="../js/officess.js"></script>