
<script src="../js/ajquery-1.12.0.min.js"></script>
<script src="../js/libs/popup-slide.js"></script>
<script src="../js/libs/scrollbar.js"></script>
<script src="../js/libs/jquery.fancybox3.min.js"></script>
<script src="../js/libs/slick.js"></script>
<script src="../js/libs/nouislider.js"></script>
<script src="../js/libs/jquery.validate.min.js"></script>
<script src="../js/libs/jquery.counterup.js"></script>
<script src="../js/libs/waypoints.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="../js/libs/init_min.js"></script>
<script src="../js/main.js"></script>