
<div class="small-form-wrap object-fit"><img class="form-bg" src="../img/form.png"/>
  <div class="container">
    <h2>У вас есть дом – у нас система умный дом!</h2>
    <div class="form-text">Оставьте заявку на проектирование и установку системы умный дом прямо сейчас <br> и управляйте своим домом дистанционно с помощью одного клика</div>
    <div class="request-form">
      <form class="form js-form" method="post" action="">
        <div class="small-form-line">
          <div class="validation-field">
            <input class="js-input" type="text" name="first_name" required="required"/><span class="placeholder">Представтесь, пожалуйста</span>
          </div>
          <div class="validation-field">
            <input class="js-input" type="text" name="first_name" required="required"/><span class="placeholder">Телефон</span>
          </div>
          <label class="button form-submit"><span>Оставить заявку</span>
            <input class="js-submit" type="submit" value="Отправить"/>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>