<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/base.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&amp;display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="container logo-container"><a class="logo-wrap" href="/"><img src="../img/logo.png"></a>
          <ul class="nav">
            <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
            <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
            <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
            <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
          </ul>
          <div class="header-right">
            <div class="lang-switch"><a class="lang-item active" href="#"><img src="../img/svg/rus.svg"></a><a class="lang-item" href="#"><img src="../img/svg/rus.svg"></a><a class="lang-item" href="#"><img src="../img/svg/rus.svg"></a>
              <div class="lang-trigger"></div>
            </div><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
            <div class="burger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="header-menu">
          <div class="container">
            <div class="left"><a class="phone mob" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
              <ul class="nav">
                <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
              </ul>
              <ul class="nav small">
                <li class="item-level-0"><a class="link-level-0" href="#">Что такое умный дом</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Стоимость</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
                <li class="item-level-0"><a class="link-level-0" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="right">
              <div>
                <div class="title">Возможности</div>
                <div class="row">
                  <div class="column-left">
                    <ul class="right-menu">
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Освещение</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Электроприборы</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Климат</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Вентиляция</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Домофон</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Пульт</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Мультирум</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Система полива</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Статистика</a></li>
                    </ul>
                  </div>
                  <div class="column-right">
                    <ul class="right-menu">
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Бассейн</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Управление Умным домом</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Видеонаблюдение</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Безопасноть</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Голосовое управление</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Контроль безопасности</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Будильник</a></li>
                      <li class="right-menu-item"><a class="right-menu-link" href="#">Автоответчик</a></li>
                    </ul>
                  </div>
                </div>
              </div><a class="play-button" href="#"><span>Видеопрезентация</span></a>
            </div>
          </div>
        </div>
      </header>
      <div class="padding-top container video-page">
        <h1>Видеопрезентация <span>Умного Дома </span></h1>
        <div class="title-text">Подробно расскажем и покажем в онлайн-режиме возможности Умного Дома!</div>
        <div class="video-form object-fit"><img src="../img/video form.png">
          <form class="form js-form" method="post" action="">
            <div class="form-text">Запишитесь на видеопрезентацию онлайн</div>
            <div class="validation-field">
              <input class="js-input" type="text" name="first_name" required><span class="placeholder">Представтесь, пожалуйста</span>
            </div>
            <div class="validation-field">
              <input class="js-input" type="text" name="phone" required><span class="placeholder">Телефон</span>
            </div>
            <label class="button form-submit"><span>Записаться</span>
              <input class="js-submit" type="submit" value="Отправить">
            </label>
          </form>
        </div>
        <div class="completed-projects-wrap">
          <div class="title-line">
            <h2>Выполненые <span>проекты</span></h2><a class="more" href="#">Больше проектов</a>
          </div>
          <div class="project-slider">
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
            <div class="project object-fit"><img src="../img/project.png"><a class="fancybox.iframe various play-circle white" href="https://www.youtube.com/embed/GhP_nSPHBkw?autoplay=1" data-type="iframe"></a></div>
          </div>
        </div>
        <div class="show-room-wrap">
          <h2> Посетите наши <span>шоу-румы</span></h2>
          <div class="show-room-list">
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Капля колорита"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Нежный дом"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Просто почувствуй"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
            <div class="item">
              <div class="column">
                <div class="info">
                  <div class="title">"Будь в топе"</div>
                  <div class="address">г. Киев, ул. Жамбила Жабаева 22, офис 18</div>
                </div>
                <div class="write-button">Записаться</div>
              </div>
              <div class="img object-fit"><img src="../img/room.png"><a class="zoom" data-src="../img/room.png" data-type="image" data-fancybox></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container desktop">
        <div class="column"><a class="logo-wrap" href="/"><img src="../img/logo.png"></a>
          <div class="contact-list"><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
            <div class="address">Главный офис: 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18  <a href="javascript:void(0);" data-fancybox data-src="../templates/offices.html" data-type="ajax" class="offices">Другие офисы</a></div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
            <div class="work-time">Пн-Пт с 9-00 до 18-00</div>
          </div>
          <div class="social-list"><a class="social-item inst" href="#"></a><a class="social-item facebook" href="#"></a><a class="social-item vk" href="#"></a></div>
          <div class="copyriting">Перепечатка материалов с сайта<br> запрещена.<br> 2009-2020. SmartHouse <br>Все права защищены.</div>
        </div>
        <div class="column">
          <div class="title">Возможности</div>
          <div class="footer-nav"><a class="footer-link" href="#">Освещение</a><a class="footer-link" href="#">Электроприборы</a><a class="footer-link" href="#">Климат</a><a class="footer-link" href="#">Вентиляция</a><a class="footer-link" href="#">Домофон</a><a class="footer-link" href="#">Мультирум</a><a class="footer-link" href="#">Пульт</a><a class="footer-link" href="#">Система полива</a><a class="footer-link" href="#">Статистика</a><a class="footer-link" href="#">Бассейн</a><a class="footer-link" href="#">Управление Умным домом</a><a class="footer-link" href="#">Видеонаблюдение</a><a class="footer-link" href="#">Безопасноть</a><a class="footer-link" href="#">Голосовое управление</a><a class="footer-link" href="#">Контроль безопасности</a><a class="footer-link" href="#">Будильник</a><a class="footer-link" href="#">Автоответчик</a>
          </div>
        </div>
        <div class="column">
          <div>
            <div class="title">О компании</div>
            <div class="footer-nav"><a class="footer-link" href="#">Что такое Умный дом</a><a class="footer-link" href="#">Что умеет Умный дом</a><a class="footer-link" href="#">Как работает Умный дом</a><a class="footer-link" href="#">Стоимость</a><a class="footer-link" href="#">Калькулятор</a><a class="footer-link" href="#">Почему мы лучше других</a><a class="footer-link" href="#">Видео</a><a class="footer-link" href="#">Документы</a><a class="footer-link" href="#">О нас</a><a class="footer-link" href="#">Контакты</a>
            </div>
          </div>
          <div class="app-links"><a href="#"><img src="../img/playmarket.png"></a><a href="#"><img src="../img/appstore.png"></a></div>
        </div>
      </div>
      <div class="container mob">
        <div class="menu-column">
          <div class="title active">Контакты
            <div class="footer-trigger"></div>
          </div>
          <div style="display:block">
            <div class="contact-list"><a class="phone" href="tel:+ 38 (067) 821-47-76">+ 38 (067) 821-47-76</a>
              <div class="address">Главный офис: 04080, г. Киев, ул. Жамбила Жабаева 22, офис 18  <a href="#" class="offices">Другие офисы</a></div><a class="mail" href="mailto:info@smarthouse.ua">info@smarthouse.ua</a>
              <div class="work-time">Пн-Пт с 9-00 до 18-00</div>
            </div>
            <div class="social-list"><a class="social-item inst" href="#"></a><a class="social-item facebook" href="#"></a><a class="social-item vk" href="#"></a></div>
            <div class="app-links"><a href="#"><img src="../img/playmarket.png"></a><a href="#"><img src="../img/appstore.png"></a></div>
          </div>
        </div>
        <div class="menu-column">
          <div class="title">Возможности
            <div class="footer-trigger"></div>
          </div>
          <div>
            <div class="footer-nav"><a class="footer-link" href="#">Освещение</a><a class="footer-link" href="#">Электроприборы</a><a class="footer-link" href="#">Климат</a><a class="footer-link" href="#">Вентиляция</a><a class="footer-link" href="#">Домофон</a><a class="footer-link" href="#">Мультирум</a><a class="footer-link" href="#">Пульт</a><a class="footer-link" href="#">Система полива</a><a class="footer-link" href="#">Статистика</a><a class="footer-link" href="#">Бассейн</a><a class="footer-link" href="#">Управление Умным домом</a><a class="footer-link" href="#">Видеонаблюдение</a><a class="footer-link" href="#">Безопасноть</a><a class="footer-link" href="#">Голосовое управление</a><a class="footer-link" href="#">Контроль безопасности</a><a class="footer-link" href="#">Будильник</a><a class="footer-link" href="#">Автоответчик</a>
            </div>
          </div>
        </div>
        <div class="menu-column">
          <div class="title">О компании
            <div class="footer-trigger"></div>
          </div>
          <div>
            <div class="footer-nav"><a class="footer-link" href="#">Что такое Умный дом</a><a class="footer-link" href="#">Что умеет Умный дом</a><a class="footer-link" href="#">Как работает Умный дом</a><a class="footer-link" href="#">Стоимость</a><a class="footer-link" href="#">Калькулятор</a><a class="footer-link" href="#">Почему мы лучше других</a><a class="footer-link" href="#">Видео</a><a class="footer-link" href="#">Документы</a><a class="footer-link" href="#">О нас</a><a class="footer-link" href="#">Контакты</a>
            </div>
          </div>
        </div>
        <div class="copyriting">Перепечатка материалов с сайта<br> запрещена.<br> 2009-2020. SmartHouse <br>Все права защищены.</div>
      </div>
    </footer>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/libs/popup-slide.js"></script>
    <script src="../js/libs/jquery.fancybox3.min.js"></script>
    <script src="../js/libs/slick.js"></script>
    <script src="../js/libs/nouislider.js"></script>
    <script src="../js/libs/jquery.validate.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>