header {
  background-color: #ffffff;
  position: relative;
  z-index: 29;
  @include breakpoint(sm-down){
    box-shadow: 0px 20px 100px rgba(63, 81, 103, 0.2);
  }
  &.fixed{
    position: fixed;
    box-shadow: 0px 20px 100px rgba(63, 81, 103, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    .logo-wrap{
      opacity: 0;
      @include breakpoint(sm-down){
        opacity: 1;
      }
    }
  }
  .container {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    position: relative;
  }
  .logo-wrap{
    transition: all .4s;
    background-color: #FFFFFF;
    box-shadow: 0 43px 88px rgba(0, 0, 0, 0.15);
    padding: 18px 33px 6px 33px;
    position: absolute;
    left: 15px;
    top: 0;
    img{
      max-width: 100%;
      @include breakpoint(sm-down){
        max-height: 60px;
      }
    }
    @include breakpoint(lg){
      max-width: 185px;
    }
    @include breakpoint(md-down){
      max-width: 150px;
    }
    @include breakpoint(sm-down){
      position: initial;
      left: initial;
      top: initial;
      background-color: transparent;
      padding: 10px 0;
      box-shadow: none;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 35px;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
      background: #FFFFFF;
      @include breakpoint(sm-down){
        content: initial;
      }
    }
  }
  .nav{
    @include list-reset();
    @include flexbox;
    @include align-items(center);
    padding: 30px 0;
    @include breakpoint(sm-down){
      display: none;
    }
    .item-level-0{
      margin: 0 20px;
      &:after{
        content: initial;
      }
      @include breakpoint(md-down){
        margin: 0 15px;
      }
    }
    .link-level-0{
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #171717;
      text-decoration: none;
      transition: all .2s;
      @include breakpoint(md-down){
        font-size: 14px;
      }
    }
  }
  .header-right{
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
  }
  .phone{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
    margin-right: 30px;
    &.mob{
      display: none;
      color: #ffffff;
    }
    @include breakpoint(md-down){
      font-size: 16px;
    }
    @include breakpoint(smxs){
      display: none;
      &.mob{
        display: inline-block;
        margin-right: 0;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}


.header-menu{
  display: none;
  background-color: #171717;
  padding-top: 140px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  @include breakpoint(xs){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container{
    padding-left: 15px;
    @include align-items(initial);
    @include breakpoint(xs){
      @include flex-direction(column);
    }
  }
  &.popup-slider{
    display: block;
  }
  .nav{
    padding: 0;
    @include flex-direction(column);
    @include align-items(flex-start);
    margin-bottom: 20px;
    @include breakpoint(sm-down){
      @include flexbox;
    }
    &.small{
      .item-level-0{
        margin-bottom: 0;
      }
      .link-level-0{
        font-size: 16px;
        line-height: 40px;
        @include breakpoint(sm-down){
          font-size: 14px;
          line-height: initial;
          margin-bottom: 10px;
          display: inline-block;
        }
      }
    }
    .item-level-0{
      margin: 0;
      margin-bottom: 25px;
    }
    .link-level-0{
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #FFFFFF;
      transition: all .2s;
      @include breakpoint(sm-down){
        font-size: 20px;
        line-height: initial;
      }
      &:hover{
        color: $green;
      }
    }
  }
  .left{
    width: 50%;
    padding-right: 15px;
    border-right: 2px solid #000000;
    @include breakpoint(xs){
      padding-right: 0;
      border-right: none;
      width: 100%;
    }
  }
  .right{
    width: 50%;
    padding-left: 90px;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
    @include breakpoint(sm-down){
      padding-left: 25px;
    }
    @include breakpoint(xs) {
      padding-left: 0;
      width: 100%;
    }
      .row{
      @include flexbox;
        @include breakpoint(smxs){
          @include flex-direction(column);
        }
    }
    .title{
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #767676;
      margin-bottom: 30px;
    }
  }
  .right-menu{
    @include list-reset();
    @include breakpoint(sm-down){
      margin-bottom: 25px;
    }
  }
  .right-menu-item{
    &:after{
      content: initial;
    }
  }
  .right-menu-link{
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    transition: all .2s;
    text-decoration: none;
    @include breakpoint(sm-down){
      font-size: 13px;
    }
    &:hover{
      color: $green;
    }
  }
  .column-left, .column-right{
    width: 50%;
    @include breakpoint(smxs){
      width: 100%;
    }
  }
}

