.numbers-wrap{
  padding-top: 120px;
  padding-bottom: 100px;
  @include breakpoint(sm-down){
    padding: 50px 0;
  }
}

.number-list{
  @include flexbox;
  @include flex-wrap(wrap);
}

.num-item{
  width: 25%;
  padding-right: 25px;
  @include breakpoint(sm-down){
    width: 50%;
    margin-bottom: 30px;
    padding-right: 0;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
  }
  @include breakpoint(smxs){
    width: 100%;
  }
  .num{
    font-size: 64px;
    color: $green;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    line-height: 1.2;
    @include breakpoint(sm-down){
      font-size: 48px;
      padding-right: 0;
    }
    &:after{
      content: '+';
      font-size: 30px;
      color: $green;
      position: absolute;
      left: 102%;
      top: -10px;
      @include breakpoint(sm-down){
        font-size: 24px;
      }
    }
  }
  .description{
    font-size: 15px;
    line-height: 26px;
    height: 52px;
    @include breakpoint(sm-down){
      text-align: center;
    }
  }
}