.completed-projects-wrap{
  padding: 100px 0;
  @include breakpoint(sm-down){
    padding: 50px 0;
  }

  .more{
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    text-decoration: none;
    position: relative;
    &.mob{
      display: none;
      @include breakpoint(smxs){
        display: inline-block;
        margin: auto;
        margin-top: 15px;
      }
    }
    @include breakpoint(smxs){
      display: none;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 1px;
      background-color: $green;
    }
  }
}

.project-slider{
  padding: 0 65px;
  margin: 0 -65px;
  .slick-list{
    margin: 0 -15px;
  }
  @include breakpoint(lg){
    margin: 0;
    padding: 0 35px;
  }
  @include breakpoint(md-down){
    margin: 0;
    padding: 0 35px;
  }

  .project{
    height: 330px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin: 0 15px;
    @include breakpoint(md-down){
      height: 240px;
    }
    @include breakpoint(sxs){
      height: 200px;
    }
  }
  .play-circle{
    width: 80px;
    height: 80px;
    background-image: url("../img/svg/play white.svg");
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    @include breakpoint(xs){
      width: 60px;
      height: 60px;
      left: calc(50% - 30px);
      top: calc(50% - 30px);
    }
    &:after,
    &:before{
      content: initial;
    }
  }
  .slick-arrow{
    width: 22px;
    height: 66px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: calc(50% - 33px);
  }
  .slick-prev{
    left: 0;
    background-image: url("../img/svg/client-prev.svg");
  }
  .slick-next{
    right: 0;
    background-image: url("../img/svg/client-next.svg");
  }
}