.show-room-wrap {
  padding-bottom: 100px;
  @include breakpoint(sm-down) {
    padding-bottom: 50px;
  }
}

.show-room-list {
  @include flexbox;
  @include flex-wrap(wrap);
  margin: 0 -15px;
  @include breakpoint(sm-down){
    margin: 0;
  }
  .item {
    width: calc(50% - 30px);
    margin: 0 15px 30px 15px;
    border: 3px solid #EFF2F3;
    border-radius: 3px;
    padding: 15px;
    @include breakpoint(sm-down){
      width: 100%;
      margin: 0;
      margin-bottom: 15px;
    }
    @include breakpoint(mxs){
      @include flex-direction(column-reverse);
    }
    @include flexbox;
    .column {
      width: 60%;
      @include flexbox;
      @include flex-direction(column);
      padding-right: 20px;
      padding-left: 15px;
      padding-top: 15px;
      @include justify-content(space-between);
      @include align-items(flex-start);
      @include breakpoint(mxs){
        width: 100%;
        padding: 0;
        @include align-items(center);
        text-align: center;
      }
    }

    .img {
      width: 40%;
      border-radius: 3px;
      overflow: hidden;
      height: 100%;
      min-height: 225px;
      position: relative;
      @include breakpoint(mxs){
        max-width: 225px;
        width: 100%;
        margin: 0 auto 15px auto ;
      }
      .zoom{
        position: absolute;
        right: 15px;
        top: 15px;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        z-index: 1;
        cursor: pointer;
        background-position: center;
        background-size: 20px;
        background-repeat: no-repeat;
        background-image: url("../img/svg/zoom.svg");
      }
    }
  }
  .title{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .address{
    position: relative;
    padding-left: 35px;
    font-size: 15px;
    line-height: 26px;
    @include breakpoint(mxs){
      margin-bottom: 35px;
      text-align: left;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 20px;
      height: 26px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../img/svg/address.svg");
    }
  }
}