.step-list{
  @include flexbox;
  @include flex-wrap(wrap);
  position: relative;
  @include breakpoint(sm-down){
    margin: 0 -15px;
  }
  @include breakpoint(smxs){
    margin: 0;
  }
  &:after{
    content: '';
    position: absolute;
    right: 60px;
    top: 64px;
    width: 2px;
    height: 51%;
    background-repeat: repeat-y;
    background-image: url("../img/svg/dashed arrow big.svg");
    @include breakpoint(sm-down){
      content: initial;
    }
  }
}
.steps-wrap{
  background: #C5F3D0;
  padding: 100px 0;
  @include breakpoint(sm-down){
    padding: 50px 0;
  }
  h2{
    margin-bottom: 60px;
    @include breakpoint(sm-down){
      margin-bottom: 45px;
    }
  }
}

.step{
  width: 33.33%;
  margin-bottom: 60px;
  padding-right: 70px;
  position: relative;
  @include breakpoint(sm-down){
    order: initial !important;
    width: 50%;
    padding: 0 15px;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    text-align: center;
  }
  @include breakpoint(smxs){
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  &:after{
    content: '';
    position: absolute;
    right: 60px;
    top: 60px;
    width: 100px;
    height: 20px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/svg/dashed arrow.svg");
    @include rotate(-180);
    @include breakpoint(sm-down){
      content: initial;
    }
  }
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3){
    order: -5;
    &:after{
      @include rotate(0);
    }

  }
  &:nth-of-type(3){
    &:after{
      background-size: 150px;
      background-image: url("../img/svg/dashed arrow small.svg");
    }
  }
  &:nth-of-type(6){
    order: -4;
  }
  &:nth-of-type(5){
    order: -3;
  }
  &:nth-of-type(4){
    order: -2;
  }
  .icon{
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    .num{
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      width: 30px;
      height: 30px;
      background-color: $green;
      border-radius: 50%;
      position: absolute;
      left: 74%;
      bottom: 0;
    }
  }
  .title{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
    height: 52px;
    overflow: hidden;
    @include breakpoint(smxs){
      font-size: 18px;
    }
  }
  .text{
    height: 130px;
    font-size: 15px;
    overflow: hidden;
    line-height: 26px;
  }
}