.tabs-wrapper {
  padding-top: 95px;
  padding-bottom: 100px;

  @include breakpoint(sm-down) {
    padding: 50px 0;
  }

  .description {
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 26px;
  }

  .tabs {
    @include flexbox;
    position: relative;
    @include breakpoint(md-down) {
      @include flex-direction(column);
    }

    &:after {
      content: '';
      position: absolute;
      left: 80px;
      top: -25px;
      width: 38px;
      height: 50px;
      background-color: #ffffff;
      z-index: 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/svg/down arrow green.svg");
      @include breakpoint(mxs){
        content: initial;
      }
    }
  }

  .tab-list {
    width: 30%;
    margin: 0;
    padding: 30px;
    border: 3px solid #EFF2F3;
    @include breakpoint(md-down) {
      width: 100%;
      border-bottom: none;
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }
    @include breakpoint(mxs) {
      padding: 0;
      border: none;
    }
  }

  .tab {
    border-radius: 0 3px 3px 0;
    width: 70%;
    @include breakpoint(md-down) {
      width: 100%;
    }
    @include flexbox;
    @include breakpoint(mxs) {
      @include flex-direction(column);
    }

    .left, .right {
      width: 50%;
      padding-top: 40px;
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      @include flex-direction(column);

      img {
        max-width: 90%;
      }

      @include breakpoint(mxs) {
        width: 100%;
        padding-top: 15px;
        img{
          max-width: initial;
          max-height: calc(100% - 85px);
        }
      }

      .title {
        @include breakpoint(sm-down) {
          margin-bottom: 15px;
        }
      }
    }

    .left {
      border-top: 3px solid #EFF2F3;
      border-bottom: 3px solid #EFF2F3;
      @include breakpoint(mxs) {
        border-right: 3px solid #EFF2F3;
        border-left: 3px solid #EFF2F3;
        height: calc(50vh - 41px);
      min-height: 300px;

      }

      .title {
        padding: 15px 25px;
        background: #F1F3F4;
        border-radius: 3px;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
      }
    }

    .right {
      border: 3px solid $green;
      border-radius: 3px;
      @include breakpoint(mxs){
        height: calc(50vh - 41px);
        min-height: 300px;
      }
      .title {
        background: linear-gradient(180deg, #00AF2C 0%, #009C27 100%);
        border-radius: 3px;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        padding: 12px 25px;
      }
    }
  }

  .tab-link {
    text-decoration: none;
    font-size: 16px;
    color: $text-color;
    padding: 20px 30px;
    display: inline-block;
    @include breakpoint(smxs){
      padding: 10px;
    }
    @include breakpoint(ultra-sxs){
      word-break: break-word;
    }
    &:after{
      display: block;
      content: attr(data-text);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  .tab-item {
    &:after{
      content: initial;
    }
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    border: 2px solid transparent;
    @include breakpoint(sm-down) {
      width: 50%;
    }
    &.active {
      border-color: #01A229;
      border-radius: 3px;

      .tab-link {
        font-weight: bold;
        color: $green;
      }
    }
  }
}